* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive; 
  background-color:  #ffc0cb;
  color : black;
}

.homeheader{
  text-align: center;
  color : black;
  margin-bottom: 20px;
  padding: 20px;
  border: 5px solid #000000;
  border-radius: 10px;
  background-color: white;
  
}

h2 {
    text-align: center;
    color:black ;
    margin-bottom: 30px;
   font-size: 15px;
}

.companyimg{
  display : flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.companyimg img{
  width : 200px;
  height : 150px;
  border: 3px solid black;
  border-radius: 10px;
}

/* effects for hovering*/
.companyimg img:hover {
  transform: scale(1.05);
}

Group/ Ador.html{
  background-color: pink;
  text-align: center;
  color : black;
  margin-bottom: 20px;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 5px;
  background-color: white;
}
  
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 10px;
    background-color: grey;
    color: white;
    font-size : 10px;
}